absl-py==1.4.0
adjustText==1.3.0
aiohttp==3.8.5
aiosignal==1.3.1
albumentations==1.3.0
alembic==1.7.6
altair==5.1.2
asttokens==2.4.0
astunparse==1.6.3
async-timeout==4.0.3
attrs==23.1.0
backcall==0.2.0
beautifulsoup4==4.14.3
blinker==1.9.0
blis==0.7.5
branca==0.8.2
brotlipy==0.7.0
bs4==0.0.1
cachetools==5.3.1
catalogue==2.0.6
category-encoders==2.6.4
cchardet==2.1.7
certifi @ file:///C:/b/abs_36eb5mzhph/croot/certifi_1690232276943/work/certifi
cffi @ file:///C:/b/abs_49n3v2hyhr/croot/cffi_1670423218144/work
chardet==5.2.0
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
choreographer==1.2.0
click==8.1.7
cloudpickle==3.1.1
colorama==0.4.6
colorlover==0.3.0
comm==0.1.4
contourpy==1.3.0
cryptography @ file:///C:/b/abs_f4do8t8jfs/croot/cryptography_1694444424531/work
cycler==0.12.1
cymem==2.0.6
Cython==0.29.28
dash==3.2.0
databricks-cli==0.16.4
datasets==2.14.5
debugpy==1.7.0
decorator==5.1.1
deprecation==2.1.0
dill==0.3.7
diskcache==5.6.3
docker==5.0.3
et_xmlfile==2.0.0
exceptiongroup==1.1.3
executing==1.2.0
fastjsonschema==2.21.2
filelock==3.12.3
Flask==3.1.2
flatbuffers==23.5.26
folium==0.20.0
fonttools==4.60.1
frozenlist==1.4.0
fsspec==2023.6.0
funcy==1.17
gast==0.4.0
geopandas==1.0.1
gitdb==4.0.9
GitPython==3.1.27
glove @ https://github.com/JonathanRaiman/glove/archive/master.zip#sha256=45d6cb68c28341ae2a8ad966b8c022c7597654a5fe47771054ecb163916e0ad6
google-auth==2.23.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
gpd==1.1.1
grpcio==1.58.0
h5py==3.9.0
htmlmin==0.1.12
huggingface-hub==0.17.1
idna @ file:///C:/b/abs_bdhbebrioa/croot/idna_1666125572046/work
ImageHash==4.2.1
imbalanced-learn==0.12.4
importlib-metadata==6.8.0
importlib_resources==6.5.2
iniconfig==2.1.0
ipykernel==6.25.2
ipython==8.15.0
ipywidgets==8.1.7
itsdangerous==2.2.0
jedi==0.19.0
Jinja2 @ file:///C:/b/abs_7cdis66kl9/croot/jinja2_1666908141852/work
jiwer==3.0.3
joblib==1.3.2
jsonschema==4.20.0
jsonschema-specifications==2023.11.1
jupyter_client==8.3.1
jupyter_core==5.3.1
jupyterlab_widgets==3.0.15
kaleido==1.1.0
keras==2.13.1
kiwisolver==1.4.7
langcodes==3.3.0
libclang==16.0.6
lightgbm==4.6.0
llvmlite==0.43.0
logistro==2.0.1
loguru==0.6.0
Mako==1.1.6
Markdown==3.4.4
markdown-it-py==3.0.0
MarkupSafe @ file:///C:/ci/markupsafe_1654508077284/work
matplotlib==3.7.5
matplotlib-inline==0.1.6
mca==1.0.4
mdurl==0.1.2
missingno==0.5.0
mkl-fft==1.3.6
mkl-random @ file:///C:/Users/dev-admin/mkl/mkl_random_1682977971003/work
mkl-service==2.4.0
mlxtend==0.23.4
mpmath @ file:///C:/b/abs_7833jrbiox/croot/mpmath_1690848321154/work
multidict==6.0.4
multimethod==1.7
multiprocess==0.70.15
murmurhash==1.0.6
narwhals==2.10.1
nbformat==5.10.4
nest-asyncio==1.5.7
networkx @ file:///C:/b/abs_e6gi1go5op/croot/networkx_1690562046966/work
nltk==3.8.1
numba==0.60.0
numpy==1.24.3
oauthlib==3.2.2
opencv-python-headless==4.6.0.66
openpyxl==3.1.5
opt-einsum==3.3.0
orjson==3.11.4
packaging==23.1
pandas==2.3.3
parso==0.8.3
pathy==0.6.1
patsy==1.0.2
phik==0.12.0
pickleshare==0.7.5
Pillow==10.0.0
pip-upgrade==0.0.6
platformdirs==3.10.0
plotly==6.3.1
plotly-resampler==0.11.0
pluggy==1.6.0
pmdarima==2.0.4
preshed==3.0.6
prince==0.14.0
prometheus-flask-exporter==0.18.7
prompt-toolkit==3.0.39
protobuf==4.24.3
psutil==5.9.5
pure-eval==0.2.2
pyarrow==13.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycaret==3.3.2
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic==1.10.26
pydeck==0.8.1b0
Pygments==2.16.1
pynndescent==0.5.6
pyod==2.0.5
pyogrio==0.11.1
pyOpenSSL @ file:///C:/b/abs_08f38zyck4/croot/pyopenssl_1690225407403/work
pyparsing==3.2.5
pyproj==3.6.1
PySocks @ file:///C:/ci/pysocks_1605307512533/work
pytest==8.4.2
pytest-timeout==2.4.0
python-dateutil==2.8.2
pytz==2023.3.post1
pywin32==306
PyYAML==6.0.1
pyzmq==25.1.1
qudida==0.0.4
querystring-parser==1.2.4
rapidfuzz==3.2.0
referencing==0.31.0
regex==2023.8.8
requests @ file:///C:/b/abs_316c2inijk/croot/requests_1690400295842/work
requests-oauthlib==1.3.1
retrying==1.4.2
rich==13.7.0
rpds-py==0.27.1
rsa==4.9
schemdraw==0.15
scikit-base==0.7.8
scikit-learn==1.6.1
scikit-plot==0.3.7
scipy==1.11.2
seaborn==0.13.2
shap==0.49.1
shapely==2.0.7
simplejson==3.20.2
six==1.16.0
sktime==0.26.0
slicer==0.0.8
smmap==5.0.0
soupsieve==2.8.3
spacy-loggers==1.0.1
sqlparse==0.4.2
squarify==0.4.4
stack-data==0.6.2
statsmodels==0.14.5
streamlit==1.12.0
sympy @ file:///C:/b/abs_95fbf1z7n6/croot/sympy_1668202411612/work
tabulate==0.8.9
tangled-up-in-unicode==0.1.0
tbats==1.1.3
tensorboard==2.13.0
tensorboard-data-server==0.7.1
tensorflow==2.13.0
tensorflow-estimator==2.13.0
tensorflow-intel==2.13.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.3.0
threadpoolctl==3.2.0
tokenizers==0.12.1
tomli==2.3.0
toolz==1.1.0
torch==2.0.1
torchaudio==2.0.2
torchvision==0.15.2
tornado==6.3.3
tqdm==4.66.1
traitlets==5.9.0
transformers==4.20.1
tsdownsample==0.1.4.1
typer==0.4.0
typing_extensions==4.5.0
tzdata==2023.3
umap-learn==0.5.5
urllib3 @ file:///C:/b/abs_889_loyqv4/croot/urllib3_1686163174463/work
visions==0.7.4
waitress==2.0.0
wcwidth==0.2.6
websocket-client==1.2.3
Werkzeug==3.1.3
widgetsnbextension==4.0.14
win-inet-pton @ file:///C:/ci/win_inet_pton_1605306162074/work
win32_setctime==1.2.0
wrapt==1.15.0
xxhash==3.3.0
xyzservices==2025.11.0
yarl==1.9.2
yellowbrick==1.4
zipp==3.16.2
